 .btn-select{
   width: 15rem;
  }
  .btn-select:hover{
    color: white !important;
    background-color:black !important;
  }



@media (max-width: 768px) {
  .select-options {
    flex-direction: column;
  }
}