/* hr.style-two {
    border: 0;
    height: 2px !important;
    background-image: linear-gradient(to right, rgba(207, 207, 207, 0), rgba(219, 219, 219, 0rgba(194, 194, 194, 0) 0, 0)) !important;
} */