.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529a7;
  height: 3.5rem;
}

.logo {
  color: #ffc107;
  font-size: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}
.brand {
  font-size: 2rem !important;
  text-decoration: none;
}

.social {
  font-size: 1.5rem !important;
}
.social a{
  transform: 0.3s ease-in-out;
}
.social a:hover{
  color:#ffc107 !important;
   transform: scale(1.1);
}
.copyright-mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .brand {
    font-size: 0.7rem !important;
  }
  .social {
    font-size: 1rem !important;
  }
  .copyright {
    display: none;
  }
  .copyright-mobile {
    display: block !important;
  }
}
