.nav-link{
  transform: 0.3s ease-in-out;
}
.nav-link:hover{
  color:#ffc107 !important;
   transform: scale(1.1);
}

.logo {
  color:#ffc107;
  font-size: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}
.brand{
  font-size: 2rem !important;
}
.spacer {
  flex-grow: 0.8;
}
.lensesIcon{
  font-size: 2rem;
}
.favIcon{
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .spacer{
    display: none;
  }
  .logo {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}
 .nav-link,
  .brand {
    font-size: 0.7rem !important;
  }
   .logout{
    font-size: 0.4rem !important;
   }
  .lensesIcon{
    font-size: 1rem;
  }
  .favIcon{
    font-size: 0.7rem;
  }
}