.register-page {
  background-color: #343a40;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.register-form {
  width: 20rem;
  padding: 1.5rem;
  background-color: #343a40;
}


.register-error {
  margin: 0.8rem; 
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem; 
}
