.register-page {
  background-color: #343a40;
  color: #fff;
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  width: 20rem;
  padding: 1rem;
  background-color: #343a40;
}


.register-error {
  margin-bottom: 1.25rem; 
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem; 
}
